div{
    margin: auto;
}
body{
    background-image: url(https://il6.picdn.net/shutterstock/videos/7118800/thumb/1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h3{
    color: red;
}
div{
    text-align: center;
}
h2{

    color: red;
}
    
    
    